/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, a:visited{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.container{
  width: 60%;
  margin: 0 auto;
}

#header{
  text-align: center;
  padding: 20px;
  margin-top: 10px;
  color: white;
  font-size: 1.5em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #1565c0;
}

#navbar{
  text-align: left;
  background-color: #90caf9;
}

#navbar li{
  display: inline-block;
  padding: 10px;
}

.noticiaContainer{
  overflow: hidden;
  border-bottom: 2px solid grey;
}

.imagenNoticia{
  height: 100%;
  width: 60%;
  vertical-align: top;
}

.imagenNoticia img{
  max-width: 100%;
}

.imagenNoticia, .descripcionNoticia{
  display: inline-block;
}

.descripcionNoticia{
  width: 39%;
  text-align: justify;
}

.tituloNoticia{
  padding: 10px;
}

.tituloNoticia span{
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.previewNoticia{
  margin-top: 20px;
  vertical-align: bottom;
}

#noticia_container{
  margin-top: 20px;
  padding: 10px;
}

#tituloNoticia{
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

#contenido_noticia, #contenido_noticia img{
  margin-top: 20px;
}

#preview_noticia{
  font-size: 1.2em;
}

#imagen_noticia img{
  width: 100%
}

#texto_noticia p{
  margin-top: 10px;
}

.negrita{
  font-weight: bold;
}

.italica{
  font-style: italic;
}

article h3{
	text-align: center;
	font-weight: bold;
	font-size: 1.3em;
}

article p{
	padding: 5px;
}

#noticias article:nth-child(odd){
	background-color: rgba(86, 82, 82, 0.15);
}

#paginador{
	margin-top: 20px;
	text-align: center;
}

#paginador ul li{
	display: inline-block;
	padding-left: 15px;
}
